.frame__title {
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: $text;
}
.frame__title_indent {
    padding-bottom: 8px;
}
.frame__text {
    max-width: 365px;
    font-weight: 700;
    font-size: 19px;
    line-height: 28px;
    color: $text;
}
